<input type="text" name="name" value="<%= notes.name %>" placeholder="name"/>
<textarea type="text" name="note" placeholder="write your notes here"><%- notes.note %></textarea>
<button type="submit">save</button>